@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*, *::after {
    box-sizing: border-box;
}

body, html {
    color: #ffffff;
    min-height: 100%;
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    
}

.outer {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.inner {
    position: relative;
}

.frontpage {
    overflow: hidden;
    height: 80vh;
}

body {
    background: rgb(3,32,65);
    background: linear-gradient(180deg, rgba(3,32,65,1) 0%, rgba(0,0,0,1) 100%);
}

/* .aside {
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
} */

.burger {
    width: 40px;
    cursor: pointer;
    z-index: 2;
}

nav {
    background: #ffffff
}

.active {
    position: fixed;
    display: block;
    background: rgb(72,49,129);
    background: linear-gradient(180deg, rgba(72,49,129,1) 0%, rgba(0,0,0,1) 100%);
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    padding: 0.5em;
    font-size: .8em;
    display: block;
    padding: 2em 3em;
    
    
}

.container {
    padding: 3em;
    max-width: 1400px;
    margin: 0 auto;
    overflow: visible;
}

header {
    display: flex;
    justify-content: space-between;

}

.logo {
    font-weight: 900;
    font-size: 35px;
}

.me {
    display: inline-flex;
    position: relative;
    margin-bottom: 20px;
    right: 20px;
}

.title {
    font-size: 13px;
    position: relative;
}

.profile {
    position: relative;
    left: 0px;
    margin: 10px;
    padding: 12px;
    width: 175px;
}

.line {
    border-left: 1px solid white;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 375px;
}

.line::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 10px 0 10px;
    border-color: white transparent transparent transparent;
    right: -.6225em;
    bottom: -2px;
}

.title::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 60px;
    border-bottom: 5px solid #DA4278
}
.subtitle {
    padding-top: 0.5em;
}

.wrapper {
    padding-bottom: 2em;
    position: relative;

}

.wrapper::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 50px;
    height: 1px;
    width: 90px;
    border-bottom: 5px solid #DA4278
}

.socials {
    display: inline-flex;
    position: absolute;
    right: 0px;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.youtube, .linkedin, .github {
    width: 50px;
    margin: 1em;
}

.page-container {
    position: relative;
    min-height: 10vh;
    text-align: center;
}

footer {
    position: relative;bottom: 0;
    top: 40px;
    margin-top: 50px;
}

p {
    color: #D8D8D8;
    line-height: 2rem;
}

BLOCKQUOTE {
    color:  #D8D8D8;
}

.clouds {
    position: relative;
    top: 1.8em;
    margin: 17px;
}

.tl {
    z-index: -2;
    height: 80px;
    right: 5%
}

.mr {
    z-index: -2;
    transform: scaleX(-1);
    height: 100px;
    overflow: hidden;
    right: -50%
}

.bl {
    z-index: 0;
    transform: scaleX(-1);
    height: 150px;
    right: 30%;
}

.planet {
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 1%;
    max-height: 1050px;
}
/* 
.starcontainer {
    position: relative;
    max-height: 0px;
    overflow: hidden;
}

.stars1 {
    position: absolute;
    right: 5%;
    top: 0;
    margin-top: 100%;
    height: 6%;
    z-index: -2;
}

.stars2 {
    position: absolute;
    right: 5%;
    top: 0;
    margin-top: 200%;
    height: 7%;
    z-index: -2;
}

.stars3 {
    position: absolute;
    right: 15%;
    top: 0;
    margin-top: 400%;
    height: 9%;
    z-index: -2;
} */

.cta {
    display: block;
    color: black;
    background: white;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    margin: 2em 0;
    width: 200px;
    position: absolute;
    left: 90px;
}

.page {
    position: relative;
    top: 0em;

}

.contact {
    margin-top: 0em;

}

.webpage-title {
    visibility: hidden;
    position: absolute;

}


@media only screen and (min-width: 650px) {
    .cta {
        left: 50px;
        margin: 25px auto;
    }

    .line {
        visibility: hidden;
    }

    .mr {
        visibility: hidden;
    }

    .bl {
        top: 150px;
        right: -300px;
        height: 120px;
    }

    .tl {
        right: -80px;
        top: 50px;
    }

    p {
        margin-right: 150px;
    }

    .outer {
        position: absolute;
    }

    .place-holder {
        position: relative;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100vw;
        height: 80vh;
    }

    .inner {
        top: -3em;
        right: -8em;
    }

    .active {
        width: 40%;
    }
    
}

@media only screen and (min-width: 750px) {
        p {
        margin-right: 450px;
    }

    .webpage-title {
        visibility: visible;
        top: 185px;
        padding: 3em;
        font-size: 20px;
    }

    .webpage-title::after {
        content: " ";
        position: absolute;
        left: 100;
        top: 200px;
        height: 1px;
        width: 90px;
        border-bottom: 5px solid #DA4278
    }

    .about-title {
        visibility: hidden;

    }

    p {
        margin-right: 250px;
    }   

    .bl {
        height: 115px;
        top: 200px;

    }

    .inner {
        top: -4em;
        right: -9em;

    }

    .tl {
        top: 100px;
    }
}

@media only screen and (min-width: 850px) {
    p {
        margin-right: 350px;
    }

    .bl {
        height: 110px;
        top: 265px;
        left: 350px;

    }

    .inner {
        top: -5em;
        right: -10em;

    }

    .tl {
        top: 125px;
    }

    .active {
        width: 30%;
    }
}

@media only screen and (min-width: 950px) {
    p {
        margin-right: 400px;
    }

    .bl {
        height: 110px;
        top: 350px;
        left: 450px;

    }

    .inner {
        top: -6em;
        right: -12em;

    }

    .tl {
        top: 150px;
        left: 150px;
    }

    .frontpage {
        height: 100vh;
    }

    .outer {
        height: 120vh;

    }
}

@media only screen and (min-width: 1000px) {
    p {
        margin-right: 450px;
    }

    .me {
        position: absolute;
    }

    .profile {
        position: relative;
        left: 0px;
        margin: 0px;
        padding: 0px;
        width: 270px;
    }

    .about-title {
        visibility: hidden;

    }

    .bl {
        left: 500px;
        top: 400px;
    }

    .inner {
        top: -8em;
        right: -13em;

    }

    .active {
        width: 25%;
    }
}

@media only screen and (min-width: 1043px) {
    .bl {
        left: -140px;
        top: 538px;
    }
}
@media only screen and (min-width: 1150px) {
    p {
        margin-right: 500px;
    }

    .inner {
        top: -8em;
        right: -14em;

    }

    .bl {
        left: -30px;
        top: 600px;
    }

}

@media only screen and (min-width: 1250px) {
    p {
        margin-right: 550px;
    }

    .inner {
        top: -8em;
        right: -15em;
    }

    .tl {
        top: 150px;
        left: 200px;
    }

}

@media only screen and (min-width: 1250px) {
    p {
        margin-right: 600px;
    }

    .inner {
        top: -8em;
        right: -18em;
    }

    .tl {
        top: 150px;
        left: 200px;
    }

    .active {
        width: 20%;
    }

}

@media only screen and (min-width: 1350px) {
    .inner {
        top: -8em;
        right: -20em;
    }

    .tl {
        top: 150px;
        left: 275px;
    }

    .active {
        width: 15%;
    }
}

@media only screen and (min-width: 1450px) {
    .inner {
        top: -8em;
        right: -24em;
    }

    .tl {
        top: 150px;
        left: 300px;
    }

    .bl {
        left: 90px;
        top: 600px;
    }

    .active {
        width: 10%;
    }

}

@media only screen and (min-width: 1550px) {
    .inner {
        top: -8em;
        right: -24em;
    }

    .tl {
        top: 150px;
        left: 300px;
    }

    .bl {
        left: 90px;
        top: 600px;
    }

    .webpage-title {
        visibility: visible;
        top: 185px;
        padding: 7em;
        font-size: 20px;
    }

    .webpage-title::after {
        content: " ";
        position: absolute;
        left: 100;
        top: 290px;
        height: 1px;
        width: 90px;
        border-bottom: 5px solid #DA4278
    }

    .active {
        width: 8%;
    }

}